@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+HK:wght@200..900&display=swap');
.noto-serif-hk-web {
  font-family: "Noto Serif HK", serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}
body {
  font-family: "Noto Serif HK", serif;
}
