@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+HK:wght@200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');
* {
  background-color: #F0FFFF;
  font-family: "Roboto", "Noto Serif HK";
  font-weight: 580;
}
h1 {
  font-size: 30px;
  color: #191970;
  font-weight: 700;
}
p {
  font-size: 20px;
  color: #191970;
}
th {
}
td {
  font-size: 20px;
  color: #333333;
  height: 25px;
  line-height: 20px;
  border-right: 15px solid #F0FFFF;
  vertical-align: text-bottom;
}
input[type=button] {
  display: inline-block;
  line-height: 45px;
  width: 300px;
  height: 45px;
  background-color: #FF8C00;
  color: #FFFFFF;
  font-size: 20px;
  border: 2px solid #FF8C00;
  border-radius: 8px;
  margin: 2px;
}
input[type=text], select {
  display: inline-block;
  line-height: 45px;
  height: 45px;
  width: 300px;
  background-color: #FFFFFF;
  color: #000000;
  font-size: 20px;
  border: 2px solid #FF8C00;
  border-radius: 8px;
  margin: 2px;
  -webkit-transition: 0.5s;
  outline: none;
}
input[type=text]:focus, select:focus {
  border: 2px solid #1A7CDB;
}
#results {
  color: #191970;
  font-size: 20px;
}
.stop_circ {
        display: inline-block;
        height: 18px;
        width: 18px;
        border-radius: 100%;
        border: 2.5px solid #000000;
        background-color: #FFE100;
        margin-left: 5px;
        margin-right: 15px;
        vertical-align: middle;
      }
      .stop_name {
        width: 100%;
        margin-top: 15px;
        margin-bottom: 5px;
      }
      .stop_name_text {
        vertical-align: middle;
        line-height: 20px;
        display: inline-block;
        width: calc(100% - 43px);
      }
      .stop_data {
        display: none;
        margin-left: 43px;
      }
      .smalltxt {
        line-height: 12px;
        font-size: 12px;
      }
      .boldtxt {
        font-weight: 700;
      }
      .medtxt {
        line-height: 17px;
        font-size: 17px;
      }
      .strongtxt {
        color: #EB4605;
      }
